.home-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  height: 85vh;
  width: 85vw;
  margin: auto;
}
.home-group-for-phones {
  display: flex; 
  justify-content: space-between;
  width: 90%;
  justify-content: center;
  align-items: center; 
  margin-right: 2%
}
.home-nav {
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.headshot-container {
  height: 70vh;
  margin: auto;
  text-align: center;
  /* width: 30%; */
  display: flex;
  justify-content: center;
  align-items: center; 
}
.headshot {
  height: 90%;
  width: 100%
}
.current-show-container {
  margin: auto;
  width: 35%;
}
.current-show {
  /* height: 60vh; */
  width: 100%;
}
@media (max-width: 750px) {
  .home-div {
    flex-direction: column;
    width: 105vw;
    /* height: 90vh; */
  }
  .headshot-container {
    height: 50vh;
    min-width: 45vw;
    margin-left: 5vw;
  }
  .current-show-container {
    margin: auto;
    width: 85%;
  }
  .home-nav {
    height: 40vh;
  }
}
@media (max-width: 400px) {
  .headshot-container {
    height: 30vh;
    min-width: 45vw;
    margin-left: 5vw;
  }
}