.home-nav-button-link {
  text-decoration: none;
  color: orange;
  font-size: 1.5vw;
}
.home-nav-button {
  background: rgb(130, 114, 136);
  /* background-color: rgb(172, 112, 2); */
  border: 2px solid purple;
  box-shadow: -5px 5px 10px black;
  border-radius: 5px;
  width: 20vw;
  height: 3vw;
  line-height: 3vw;
  text-decoration: none;
  font-weight: 700;
  margin: 2vw;
  /* transition-timing-function: all linear; */
}
.home-nav-button:hover {
  box-shadow: -8px 8px 15px black;
  transform: scale(1.15);
  color: rgb(130, 114, 136);
  background-color: orange;
}