a {
    text-decoration: none;
}
.reviewCard {
    background-color: rgb(74, 42, 87);
    padding: 0.75vw;
    box-sizing: border-box;
    margin: 1vw;
    color: rgb(243, 240, 88);
    opacity: 0.65;
    border-radius: 7px;
    border: 2px solid rgb(110, 109, 38);
    text-shadow: 1px 1px #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 2px 0px 50px rgba(233, 231, 125, 0.5);
}
.reviewText {
    font-size: 0.9em;
    line-height: 1.5em;
}
.reviewSource {
    font-size: 0.6em;
    color: rgb(204, 203, 118);
}

@media (max-width: 600px) {
    .reviewText {
        font-size: 2.5vw;
    }
    .reviewSource {
        font-size: 1.9vw;
    }
}